// Vendor prefixing 
@mixin vendorize($property, $value){
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}:$value;
	-o-#{$property}:$value;
	#{$property}:$value;
}

// Clear fix
@mixin clear(){
	&:before, &:after{
		content: "\0020";
		display:block;
		height:0;
		overflow: hidden;
	};

	&.after{
		clear:both;
	}

}

// Hover mixin
@mixin hoverMixin($property, $value){
	&:hover{
		$property:$value;
	};
}

// Focus mixin
@mixin focusMixin($property, $value){
	&:focus{
		$property:$value;
	};
}

// Active mixin
@mixin activeMixin($property, $value){
	&:active{
		$property:$value;
	};
}

